@charset "utf8";




body{
    background-image: url(imagens/brasil.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:  cover;
    font-family: Arial, Helvetica, sans-serif;
    

}

h1{
    width: 600px;
    margin: auto;
    text-align: center;
    border-radius: 10px ;
    border: 2px solid black;
    background-image: url(imagens/brasil.jpg);
    background-position: center center;
    color: #66ff00;
    font-style: italic;
    font-variant: small-caps;
    
   
}

table {
    margin: auto;
    background-image: url(imagens/brasil.jpg);
    background-position: center center;
    background-size: cover;
    box-shadow: -7px -3px 20px 2px #0505708c;
    width: 600px;
    border-collapse: collapse;
    font-size: medium;
   font-weight: bolder;
   color: rgb(0, 0, 0);

}

td, th {
    border: 2px solid black;
    padding: 10px;
}
thead, tfoot { background-color: #2e2e2e;
    color: #ffffff;


}
td.num{
    text-align: right;
}
td.porcentagem {
    color: #17db05;
    background-color: rgba(50, 53, 51, 0.692);
    font-weight: lighter;
    text-align: center;
    

}
caption{
    font-size: 20px ;
    font-weight: bold;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: #2e2e2e;
    border-radius: 3px;
    padding: 10px;
    box-shadow: -7px -3px 20px 2px #0505708c;
    
}