@charset "UTF8";
@import url('https://fonts.googleapis.com/css2? family= Creepster & family= Itim & family= Passion+One:wght@900 & display=swap');


body{
    background-color: rgba(1, 95, 95, 0.295);
    font-family: cursive;
}
h1{
    color: rgb(187, 4, 243);
    font-weight:lighter;

}
#principal{
    color: #00c3ff;
    background-color: #6B2CD1;
  font-family:Georgia, 'Times New Roman', Times, serif
    
}
h2{
    color: brown;

}
.avancado{
    color: #034159

}
.intermediario{
    color: #038C3E

}
.basico{
    color: #02735E
}